<footer>
  <div class="social-media-icons">
    <img src="/img/github-icon.png" alt="" />
    <img src="/img/linkedin-icon.png" alt="" />
    <img src="/img/discord-icon.png" alt="" />
  </div>
  <div class="footer-text">
    <h2>Made By Viresh Gupta</h2>
    <h3>Copyrights Reserved 2022</h3>
  </div>
</footer>
