<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="about-section" id="about-section">
      <div class="about-text">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deleniti voluptas, iusto nulla assumenda laboriosam neque explicabo ratione, debitis asperiores libero nihil dicta dolor dignissimos, corrupti eius quas! Veritatis, doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit.dicta dolor dignissimos, corrupti eius quas! Veritatis, doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <br>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam natus dicta consequuntur porro ea possimus suscipit eveniet rerum et quibusdam culpa laudantium veniam
        </p>
        <br>
        <p>
          natus dicta consequuntur porro ea possimus suscipit eveniet rerum et quibusdam culpa laudantium veniam sapiente
        </p>
      </div>
      <div class="about-img">
        <img src="/img/about-img.jpg" alt="">
      </div>
    </div>
      <%- include("./partials/footer.ejs") %> 
</body>
</html>